.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: #4b4b4b;
  color: #ffffff;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.about p {
  margin: 0;
}

.name {
  font-size: 24px;
}

.role {
  font-size: 14px;
}

.navigation {
  height: 2rem;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  color: #ffffff;
  font-size: 18px;
}

.navigation a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease-in-out, padding 0.3s ease-in-out;
}

.navigation a span {
  display: inline-block;
  transform-origin: 50% 100%;
  transition: transform 0.3s ease-in-out;
}

.navigation a span::after {
  content: "";
  display: block;
  width: 0;
  height: 1.5px;
  background: #ffd700;
  transition: width 0.3s;
}

.navigation a:hover {
  color: #ffd700;
}

.navigation a:hover span::after {
  width: 100%;
}

.navigation a.active {
  color: #ffa500;
  padding: 0 15px;
}

.navigation a.active span {
  transform: scale(1.3);
}

.navigation a.active span::after {
  width: 100%;
  height: 2px;
  background: #ffa500;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
    padding: 0 10px;
  }

  .about {
    gap: 3px;
  }

  .name {
    font-size: 18px;
  }

  .role {
    font-size: 10px;
  }

  .navigation {
    height: 1.5rem;
    gap: 10px;
    font-size: 12px;
  }

  .navigation a.active {
    padding: 0 10px;
  }

  .navigation a.active span {
    transform: scale(1.2);
  }
}
