.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b4b4b;
  color: white;
}

.about {
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.about p {
  margin: 0;
}

.name {
  font-size: xx-large;
}

.navigation {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  color: white;
  font-size: x-large;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}

.navigation a.active {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: white;
}
