.about {
  width: 100%;
  height: calc(100vh - 220px);
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.picture {
  border-radius: 20px;
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.text {
  max-width: 50%;
  font-size: large;
  line-height: 1.6;
  text-align: justify;
}

.text p {
  margin-top: 0;
}
