.about {
  width: 100%;
  height: calc(100vh - 240px);
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.picture {
  border-radius: 30px;
  width: 310px;
  height: 310px;
  object-fit: cover;
}

.text {
  max-width: 50%;
  font-size: x-large;
  line-height: 1.6;
}

.text p {
  margin-top: 0;
}
