.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.name {
  text-align: center;
  font-size: 70px;
  margin: 0;
}

.headline {
  text-align: center;
  font-size: 26px;
  margin: 0;
}

.buttons {
  display: flex;
  align-items: end;
  gap: 140px;
}

.carousel {
  width: 600px;
  height: 400px;
}

.button {
  width: 200px;
  height: 300px;
}

@media (max-width: 768px) {
  .home {
    gap: 45px;
  }

  .name {
    font-size: 40px;
  }
}
