.projects {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px 75px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.filters button {
  cursor: pointer;
  padding: 8px 15px;
  background-color: none;
  border: 1px solid #4b4b4b;
  border-radius: 18px;
  color: #4b4b4b;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.filters button:hover {
  background-color: #4b4b4b;
  color: #ffffff;
}

.filters button.active {
  background: #4b4b4b;
  color: #ffffff;
}
