.resume {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 90px;
  max-width: 85%;
  text-align: justify;
  font-size: large;
  line-height: 1.6;
}

.content p {
  margin: 0;
}

.content ul {
  margin: 0;
}

.title {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
}
