.resume {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  max-width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 90px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.6;
}

.content p {
  margin: 0;
}

.content ul {
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .content {
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 20px;
    font-size: 16px;
  }

  .title {
    font-size: 20px;
  }
}
